<!doctype html>
<html lang="pt-BR">
  <head>
    <title>Recipes</title>
    {% include 'recipes/partials/head.html' %}
  </head>
  <body>
    <header>
      {% include 'recipes/partials/header.html' %}      
      {% include 'recipes/partials/search.html' %}    
    </header>
    <main class="main-content-container">
      <div class="main-content main-content-list container">
        {% include 'recipes/partials/content.html' %}  
        {% include 'recipes/partials/content.html' %}
        {% include 'recipes/partials/content.html' %}
        {% include 'recipes/partials/content.html' %}
        {% include 'recipes/partials/content.html' %}
        {% include 'recipes/partials/content.html' %}
      </div> 
    </main>
    <footer class="main-footer">
      {% include 'recipes/partials/footer.html' %}
    </footer>
    
  </body>

</html>